<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="__content-wrapper">
    <div class="__header">
      <img src="assets/images/login-page-header.svg" />
      <h1>Gift List</h1>
    </div>
    <div class="__content">
      <div class="__intro-text">
        <h2>Welcome</h2>
        <span>Please sign in to your account</span>
      </div>
      <div class="__form-group">
        <form class="__form" [formGroup]="loginForm">
          <text-input type="text" formControlName="username" placeholder="username" autocapitalize="off"></text-input>
          <text-input type="password" formControlName="password" placeholder="password"></text-input>
        </form>
        <span class="__forgot-password-link" routerLink="/test">Forgot your password?</span>
      </div>
      <div class="__bottom-group">
        <ion-button>Sign in</ion-button>
        <span class="__create-account-link" routerLink="/test">
          Don't have an account? <span class="__create-account-link-highlight">Create</span>
        </span>
      </div>
    </div>
  </div>
</ion-content>
