.__forgot-password-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    color: var(--ion-color-light-medium);
}

.__create-account-link {
    display: block;
    font-weight: bold;
    color: var(--ion-color-light-medium);
    margin-top: 10px;

    .__create-account-link-highlight {
        color: var(--ion-color-primary);
    }
}
