.__intro-text {
    h2 {
        color: var(--ion-color-medium);
        font-size: 26px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    span {
        color: var(--ion-color-light-medium);
        font-weight: bold;
        letter-spacing: -0.5px;
    }
}

.__forgot-password-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    color: var(--ion-color-light-medium);
}

.__create-account-link {
    display: block;
    font-weight: bold;
    color: var(--ion-color-light-medium);
    margin-top: 10px;

    .__create-account-link-highlight {
        color: var(--ion-color-primary);
    }
}
