.__form {
    display: grid;
    grid-column-gap: 15px;
    grid-template-rows: min-content min-content min-content auto;
    grid-template-areas:
        "un"
        "pw"
        "fpw"
        "bg";

    .__username-input {
        grid-area: un;
    }

    .__password-input {
        grid-area: pw;
    }

    .__forgot-password-link {
        grid-area: fpw;
    }

    .__bottom-group {
        grid-area: bg;
    }
}

.__forgot-password-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    color: var(--ion-color-light-medium);
}

.__create-account-link {
    display: block;
    font-weight: bold;
    color: var(--ion-color-light-medium);
    margin-top: 10px;

    .__create-account-link-highlight {
        color: var(--ion-color-primary);
    }
}
