<ion-content class="__login-flow-page">
  <div class="__content-wrapper">
    <div class="__header">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1000 800" preserveAspectRatio="none">
        <use xlink:href="#login-flow__header-symbol" />
      </svg>
      <h1>Gift List</h1>
    </div>
    <div class="__content">
      <div class="__intro-text">
        <h2>Welcome</h2>
        <span>Please sign in to your account</span>
      </div>
      <form class="__form" [formGroup]="loginForm">
        <text-input type="text" formControlName="username" placeholder="username" autocapitalize="off"></text-input>
        <text-input type="password" formControlName="password" placeholder="password"></text-input>
        <span class="__forgot-password-link" routerLink="/test">Forgot your password?</span>
        <div class="__bottom-group">
          <ion-button routerLink="/landing">Sign in</ion-button>
          <span class="__create-account-link" routerLink="/sign-up">
            Don't have an account? <span class="__create-account-link-highlight">Create one</span>
          </span>
        </div>
      </form>
    </div>
  </div>
</ion-content>
