:host {
    $left-padding: 20px;
    $border-width: 2px;

    position: relative;
    display: block;
    height: 65px;
    width: 100%;

    label {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: $left-padding;
        text-transform: uppercase;
        color: var(--ion-color-light-medium-tint);
        font-size: 14px;
    }

    input {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border: $border-width solid var(--ion-color-primary-light);
        padding-left: calc(#{$left-padding} - #{$border-width});
    }
}