
:root {
    --form-input-height: 55px;
    --form-input-font-size: 15px;
    --form-input-border-width: 2px;
    --form-input-label-height: calc(var(--form-input-height) - (2 * var(--form-input-border-width)));
}