:host {
    $input-side-padding: 20px;
    $border-width: 2px;
    $side-padding-width: 4px;

    display: block;
    position: relative;
    height: 60px;
    width: 100%;
    border-radius: 3px;
    border: $border-width solid var(--ion-color-primary-light);

    ion-label {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: calc(#{$input-side-padding} - #{$border-width} - #{$side-padding-width} - 1px);
        text-transform: uppercase;
        color: var(--ion-color-light);
        padding: 0px $side-padding-width;
        background: white;

        small {
            font-size: 85%;
        }
    }

    // TODO: Fix the white box when the label animates upwards (don't animate height? just position: absolute the label all the way down?)
    // TODO: Make input box shorter - it doesn't need to be so tall when the label becomes part of the box

    ion-select {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        color: var(--ion-color-medium);
        --padding-start: calc(#{$input-side-padding} - #{$border-width} - 1px);
        --padding-end: calc(#{$input-side-padding} - #{$border-width} - 1px);
    }
}
