ion-datetime {
    display: flex;
    align-items: center;
    color: var(--ion-color-medium);
}

ion-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: calc(var(--input-side-padding) - var(--input-border-width) - var(--label-side-padding) - 1px);
    height: 100%;
    font-size: 24px;
}