<ion-content class="__login-flow-page">
  <div class="__content-wrapper">
    <div class="__header">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1000 800" preserveAspectRatio="none">
        <path fill="url(#gradient-def)"
            d="M 0, 0
            L 0, 700
            C 350, 1000, 700, 500, 1000, 800
            L 1000, 0
            Z"
        />
        <path fill="url(#gradient-def)" fill-opacity=".25"
            d="M 0, 800
            Q 500, 600, 700, 700
            L 0, 700"
        />
        <path fill="url(#gradient-def)" fill-opacity=".25"
            d="M 250, 800
            C 600, 800, 650, 800, 800, 700
            L 250, 700"
        />
        <path fill="url(#gradient-def)" fill-opacity=".25"
            d="M 400, 700
            C 800, 850, 950, 775, 1100, 700
            L 250, 700"
        />
      </svg>
      <h1>Sign up</h1>
    </div>
    <div class="__content">
      <form class="__form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <text-input class="__first-name-input" type="text" formControlName="firstName" placeholder="first name*" autocapitalize="true"></text-input>
        <text-input class="__last-name-input" type="text" formControlName="lastName" placeholder="last name*" autocapitalize="true"></text-input>
        <select-input class="__gender-input" type="text" formControlName="gender" placeholder="gender"></select-input>
        <date-input class="__birthday-input" type="text" formControlName="birthday" placeholder="birthday*"></date-input>
        <text-input class="__email-address-input" type="email" formControlName="emailAddress" placeholder="email address*"></text-input>
        <text-input class="__username-input" type="text" formControlName="username" placeholder="username*"></text-input>
        <text-input class="__password-input" type="password" formControlName="password" placeholder="password*"></text-input>
        <!-- <ion-item class="__terms-and-conditions" lines="none">
          <ion-checkbox color="primary" formControlName="termsAndConditions"></ion-checkbox>
          <ion-label color="medium">I agree to the Terms and Conditions</ion-label>
        </ion-item> -->
        <div class="__terms-and-conditions">
          <ion-checkbox color="primary" formControlName="termsAndConditions"></ion-checkbox>
          <ion-label color="medium" (click)="checkTermsAndConditionsInput()">I agree to the Terms and Conditions</ion-label>
        </div>
        <div class="__bottom-group">
          <ion-button type="submit">Create</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
