.__header {
    color: white;

    ion-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
    }
}

.__form {
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas:
        "fn ln"
        "g   b"
        "ea ea"
        "un un"
        "pw pw"
        "tc tc"
        "bg bg";

    .__first-name-input {
        grid-area: fn;
    }

    .__last-name-input {
        grid-area: ln;
    }

    .__gender-input {
        grid-area: g;
    }

    .__birthday-input {
        grid-area: b;
    }

    .__email-address-input {
        grid-area: ea;
    }

    .__username-input {
        grid-area: un;
    }

    .__password-input {
        grid-area: pw;
    }

    .__terms-and-conditions {
        grid-area: tc;

        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;

        --ripple-color: white;
        --highlight-color-focused: white;
        --color-focused: white;
        --background-focused: white;

        ion-checkbox {
            --border-color: var(--ion-color-primary);
            --border-color-checked: var(--ion-color-primary);
            --background-checked: var(--ion-color-primary);
            --checkmark-color: white;
        }

        ion-label {
            margin-left: 5px;
        }
    }

    .__bottom-group {
        grid-area: bg;
    }
}