.__form-input-host {
    --form-input-side-padding: 14px;
    --form-input-font-size: 15px;
    --form-label-side-padding: 4px;

    display: block;
    position: relative;
    height: var(--form-input-height);
    width: 100%;
    border-radius: 3px;
    border: var(--form-input-border-width) solid var(--ion-color-primary-light);

    ion-label {
        position: absolute;
        display: flex;
        align-items: center;
        margin-left: calc(var(--form-input-side-padding) - var(--form-input-border-width) - var(--form-label-side-padding) - 1px);
        text-transform: uppercase;
        color: var(--ion-color-light);
        padding: 0px var(--form-label-side-padding);
        background: white;
        font-size: var(--form-input-font-size);
        height: var(--form-input-label-height);
        box-sizing: border-box;

        small {
            font-size: 85%;
        }
    }

    .__form-input {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        font-size: var(--form-input-font-size);
        --padding-start: calc(var(--form-input-side-padding) - var(--form-input-border-width) - 1px);
        --padding-end: calc(var(--form-input-side-padding) - var(--form-input-border-width) - 1px);
    }

    &.ng-dirty.ng-invalid {
        border-color: var(--ion-color-danger-light);
    }
}